.col-centered {
	float: none;
  margin: 0 auto;
}

.navbar-brand {
	padding: 5px 15px;
}

.hide-text {
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 60%;
}

.inline-block {
	display: inline-block;
	overflow: hidden;
}
