.glyphicon.glyphicon-size-lg {
  font-size: 1.5em;
}

.glyphicon.glyphicon-size-md {
  font-size: 1em;
}

.glyphicon.glyphicon-size-sm {
  font-size: 0.75em;
}

.glyphicon.glyphicon-size-xs {
  font-size: 0.5em;
}