<div class="col-md-7 col-md-offset-1">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>List <span class="glyphicon glyphicon-menu-hamburger glyphicon-size-sm"></span></h3>
		</div>
		<div class="panel-body">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-search"></span>
								</span>
								<input type="text" class="form-control" placeholder="Search" maxlength="45" ng-model="main.searchValue"/>
								<span class="input-group-addon">
									{{filtered.length}}/{{categories.length}}
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<button class="btn btn-default"
											ng-if="main.viewMode !== ''"
											ng-click="main.ItemExpandAll()">
								<span class="glyphicon glyphicon-plus"></span>
							</button>
							<button class="btn btn-default"
											ng-if="main.viewMode !== ''"
											ng-click="main.ItemCollapseAll()">
								<span class="glyphicon glyphicon-minus"></span>
							</button>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="list-group">
							<a class="list-group-item"
									ng-repeat="category in filtered =
														 ExtendFields
														 (
															 categories |
															 filter: {name: main.searchValue}
														 ) |
														 orderBy: main.listOrder |
														 orderParentChild: main.viewMode: 'parent': 'open'
														 track by $index"
									ng-if="filtered.length > 0"
									ng-click="main.Select(category)"
									ng-class="{'active': main.selected === category}"
									role="button">
								<span style="padding-left: {{category.level * 5}}%"
											ng-if="category.level && main.viewMode !== ''">
								</span>
								<!-- Plus sign -->
								<span class="glyphicon glyphicon-plus"
											ng-if="!category.open &&
														 category.childrenCount > 0 &&
														 main.viewMode !== ''"
											ng-click="main.ItemExpand(category);$event.stopPropagation()">
								</span>
								<!-- Minus sign -->
								<span class="glyphicon glyphicon-minus"
											ng-if="category.open &&
														 category.childrenCount > 0 &&
														 main.viewMode !== ''"
											ng-click="main.ItemCollapse(category);$event.stopPropagation()">
								</span>
								<!-- Name of category -->
								<span ng-bind="category.name"></span>
								<!-- Count of children -->
								<span ng-if="main.viewMode !== '' && category.childrenCount > 0">
									 - {{category.childrenCount}}
								</span>
								<!-- Icon -->
								<span class="pull-right {{category.icon}}" style="color: {{category.color}}"></span>
							</a>
							<!-- messages -->
							<!-- loading -->
							<a class="list-group-item text-center" ng-if="main.loaded === undefined">
								Loading <span class="fa fa-spinner fa-pulse"></span>
							</a>
							<!-- loaded but empty -->
							<a class="list-group-item text-center" ng-if="main.loaded && categories.list.length === 0">
								No categories yet. Add one.
							</a>
							<!-- error -->
							<a class="btn btn-default list-group-item text-center" ng-if="main.loaded === false" role="button" ng-click="LoadCategories()">
								Refresh <span class="glyphicon glyphicon-refresh"></span>
							</a>
							<!-- search -->
							<a class="list-group-item text-center" ng-if="categories.length > 0 && filtered.length === 0">
								No matches <span class="glyphicon glyphicon-search"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-md-3">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>Sort <span class="glyphicon glyphicon-sort glyphicon-size-sm"></span></h3>
		</div>
		<div class="panel-body">
			<p class="text-muted">View Mode</p>
			<div class="btn-group btn-group-justified">
				<label class="btn btn-default" ng-model="main.viewMode" uib-btn-radio="'$id'">
					Tree
				</label>
				<label class="btn btn-default" ng-model="main.viewMode" uib-btn-radio="''">
					List
				</label>
			</div>
			<hr>
			<p class="text-muted">Order by Name</p>
			<div class="btn-group btn-group-justified">
				<label class="btn btn-default" ng-model="main.listOrder" uib-btn-radio="'-name'">
					Desc
				</label>
				<label class="btn btn-default" ng-model="main.listOrder" uib-btn-radio="''">
					None
				</label>
				<label class="btn btn-default" ng-model="main.listOrder" uib-btn-radio="'+name'">
					Asc
				</label>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>Actions <span class="glyphicon glyphicon-flash glyphicon-size-sm"></span></h3>
		</div>
		<div class="panel-body">
			<button class="btn btn-default btn-block" ng-click="main.Add({action: 'add', id: main.selected.$id})">
				Add <span class="glyphicon glyphicon-plus"></span>
			</button>
			<button class="btn btn-default btn-block" ng-click="main.Add({action: 'edit', id: main.selected.$id})" ng-disabled="main.disabled">
				Edit <span class="glyphicon glyphicon-pencil"></span>
			</button>
			<button class="btn btn-danger btn-block" ng-disabled="main.disabled">
				Delete <span class="glyphicon glyphicon-remove"></span>
			</button>
		</div>
	</div>
</div>
