<div class="col-md-offset-2 col-md-8">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>categories <span class="glyphicon glyphicon-tag glyphicon-size-sm"></span></h3>
		</div>
		<div class="panel-body">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12">
						<form ng-submit="categories.add()" name="AddcategoryForm" class="form-inline" role="form" disable-dynamic-validation="true" novalidate>
							<div class="form-group">
								<div class="input-group">
									<input ng-model="categories.name" ng-model-options="{updateOn: 'blur'}" type="text" class="form-control" name="name" placeholder="Name" maxlength="45" required />
									<span class="input-group-btn">
										<ui-iconpicker ng-model="categories.icon" groups="bootstrap font-awesome" name="icon" uib-tooltip="Icon"></ui-iconpicker>
										<button colorpicker type="button" class="btn btn-default" ng-model="categories.color" uib-tooltip="Color">
											<span class="fa fa-paint-brush" style="color:{{categories.color}}"></span> 
											<span class="caret"></span>
										</button>
										<button class="btn btn-default" uib-tooltip="Add"><span class="glyphicon glyphicon-plus"></span></button>
									</span>
								</div>
							</div>
							<hr/>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-search"></span>
								</span>
								<input ng-model="categories.search" type="text" class="form-control" placeholder="Search" maxlength="45" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 text-center text-muted">
						<div class="form-group">
							{{filtered.length}}/{{categories.list.length}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="list-group">
							<!-- repeating list items -->
							<a class="list-group-item" ng-repeat="category in filtered = (categories.list | filter:{name:categories.search}) track by category.$id">
								<span class="inline-block" ng-if="!category.editing">
									<span class="{{category.icon}}" style="color: {{category.color}}"></span>
								</span>
								<span ng-bind="category.name" ng-if="!category.editing" class="hide-text"></span>
								<span class="badge" role="button" ng-click="categories.remove(category)" ng-if="!category.editing">
									<span class="glyphicon glyphicon-remove" ></span>
								</span>
								<span class="badge" role="button" ng-click="categories.edit(category)" ng-if="!category.editing">
									<span class="glyphicon glyphicon-pencil"></span>
								</span>
								<!-- form for editing -->
								<form class="form-inline" ng-if="category.editing" role="form" disable-dynamic-validation="true" novalidate>
									<div class="form-group">
										<div class="input-group">
											<input ng-model="category.name" ng-model-options="{updateOn: 'blur'}" type="text" class="form-control" placeholder="Name" maxlength="45" required />
											<span class="input-group-btn">
												<ui-iconpicker value="{{category.icon}}" ng-model="category.icon" groups="bootstrap font-awesome" uib-tooltip="Icon"></ui-iconpicker>
												<button colorpicker type="button" class="btn btn-default" ng-model="category.color" uib-tooltip="Color">
													<span class="fa fa-paint-brush" style="color:{{category.color}}"></span> 
													<span class="caret"></span>
												</button>
												<button class="btn btn-default" uib-tooltip="Cancel" ng-click="categories.cancel()"><span class="glyphicon glyphicon-remove"></span></button>
												<button class="btn btn-default" uib-tooltip="Save" ng-click="categories.save(category)"><span class="glyphicon glyphicon-ok"></span></button>
											</span>
										</div>
									</div>
								</form>
							</a>
							<!-- messages -->
							<!-- loading -->
							<a class="list-group-item text-center" ng-if="categories.loaded === undefined">
								Loading <span class="fa fa-spinner fa-pulse"></span>
							</a>
							<!-- loaded but empty -->
							<a class="list-group-item text-center" ng-if="categories.loaded && categories.list.length === 0">
								No categories yet. Add one.
							</a>
							<!-- error -->
							<a class="list-group-item text-center" ng-if="categories.loaded === false" role="button" ng-click="loadcategories()">
								Refresh <span class="glyphicon glyphicon-refresh"></span>
							</a>
						</div>
					</div>
				</div>
				<div class="row" ng-if="filtered.length > 20">
					<div class="col-xs-12 text-center text-muted">
						<div class="form-group">
							{{filtered.length}}/{{categories.list.length}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
