<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>Add <span class="glyphicon glyphicon-plus glyphicon-size-sm"></span></h3>
		</div>
		<div class="panel-body">
			<div class="container-fluid">
				<div class="col-md-offset-3 col-md-6">
					<form role="form" ng-submit="actions.Add()" class="form-horizontal" name="AddCategoryForm" novalidate>
						<div class="form-group">
							<h2 class="text-muted" ng-if="search.selected">
								Add to 
								{{search.selected.name}} 
								<span class="{{search.selected.icon}}" 
											style="color: {{search.selected.color}}">
								</span>
							</h2>
							<h2 class="text-muted" ng-if="!search.selected">No parent</h2>
							<hr>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" ng-model-options="{updateOn: 'blur'}" placeholder="Name" ng-model="actions.name" maxlength="20" name="name" required/>
						</div>
						<div class="form-group">
							
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
