<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 ng-if="main.action === 'add'">Add <span class="glyphicon glyphicon-plus glyphicon-size-sm"></span></h3>
			<h3 ng-if="main.action === 'edit'">Edit <span class="glyphicon glyphicon-pencil glyphicon-size-sm"></span></h3>
		</div>
		<div class="panel-body">
			<div class="container-fluid">
				<div class="col-md-offset-3 col-md-6">
					<form role="form" ng-submit="main.Add()" class="form-horizontal" name="AddCategoryForm" novalidate>
						<div class="form-group">
							<div class="col-xs-12">
								<h2 class="text-muted hide-text" ng-if="main.record && main.action === 'add'">
									Add to {{main.record.name}} <span class="{{main.record.icon}}" style="color: {{main.record.color}}"></span>
								</h2>
								<h2 class="text-muted hide-text" ng-if="main.record && main.action === 'edit'">
									Edit {{main.record.name}} <span class="{{main.record.icon}}" style="color: {{main.record.color}}"></span>
								</h2>
								<h2 class="text-muted" ng-if="!main.record">No parent</h2>
								<hr/>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<input type="text" class="form-control" ng-model-options="{updateOn: 'blur'}" placeholder="Name" ng-model="main.name" maxlength="20" name="name" required/>
								<hr/>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12 text-center">
								<div class="list-group list-group-horizontal">
									<a ng-repeat="color in main.colors" class="list-group-item" ng-class="{'active': main.colors.active === color}" ng-click="main.SelectColor(color)">
										<span class="fa fa-circle glyphicon-size-lg" style="color: {{color}}"></span>
									</a>
									<hr/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12 text-center">
								<div class="list-group list-group-horizontal">
									<a ng-repeat="icon in main.icons" class="list-group-item icon" ng-class="{'active': main.icons.active === icon}" ng-click="main.SelectIcon(icon)">
										<span class="fa fa-{{icon}} glyphicon-size-lg"></span>
									</a>
									<hr/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12 text-center">
								<span class="glyphicon-size-xl text-muted">{{main.name}} </span>
								<span class="fa fa-{{main.icons.active}} glyphicon-size-xl" style="color: {{main.colors.active}}"></span>
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12 text-center">
								<a role="button" class="btn btn-default">
									Cancel 
									<span class="glyphicon glyphicon-arrow-left text-muted"></span>
								</a>
								<button type="submit" class="btn btn-default">
									Add 
									<span class="glyphicon glyphicon-plus text-muted"></span>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
