<div class="container-fluid">
	<!-- Offset for large and medium devices -->
	<div class="vert-offset-top-8 hidden-xs hidden-sm"></div>
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-md-6 col-lg-5 col-centered">
			<div class="panel panel-default">
				<div class="panel-heading text-center">
					<h1>Please log in.<span class="btn-lg glyphicon glyphicon-user glyphicon-size-md"></span></h1>
				</div>
				<div class="panel-body">
					<form ng-submit="login.submit()" class="form-horizontal" role="form" name="LoginForm" novalidate>
						<div class="form-group">
							<label class="col-sm-3 control-label" name="email">Email</label>
							<div class="col-sm-6">
								<input ng-model="login.email" ng-model-options="{updateOn: 'blur'}" type="email" class="form-control" placeholder="Email" name="email" required/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" name="password">Password</label>
							<div class="col-sm-6">
								<input ng-model="login.password" ng-model-options="{updateOn: 'blur'}" type="password" class="form-control" placeholder="Password" name="password" required />
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-6">
								<u class="text-muted">Forgot password</u>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-6">
								<button type="submit" class="btn btn-default">Log in <span class="glyphicon glyphicon-log-in text-muted"></span></button>
							</div>
						</div>
					</form><!-- Form end -->
				</div><!-- Panel body end -->
			</div><!-- Panel end -->
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center">
				<h5>© Copyright - Finance Manager 2016</h5>
		</div>
	</div>
</div>
