<div class="container-fluid">
	<div class="vert-offset-top-8"></div>
	<!-- Offset for small devices -->
	<div class="vert-offset-top-8 hidden-md hidden-lg"></div>
	<div class="row">
		<div class="col-sm-offset-4 col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading text-center">
					<h1>Please log in.<span class="btn-lg glyphicon glyphicon-user glyphicon-size-md"></span></h1>
				</div>
				<div class="panel-body">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label class="col-sm-3 control-label">Login</label>
							<div class="col-sm-6">
								<input ng-model="login.login" type="text" class="form-control" placeholder="Login" maxlength="45" name="name" required />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Password</label>
							<div class="col-sm-6">
								<input ng-model="login.password" type="password" class="form-control" placeholder="Password" maxlength="45" name="password" required />
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-6">
								<button type="submit" class="btn btn-default">Log in</button>
							</div>
						</div>
					</form><!-- Form end -->
					<div class="btn-group">
						<label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Left'">Left</label>
						<label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Middle'">Middle</label>
						<label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Right'">Right</label>
					</div>
				</div><!-- Panel body end -->
			</div><!-- Panel end -->
		</div>
	</div>
	<div class="row">
		<div class="col-sm-offset-4 col-sm-4 text-center">
				<h5>© Copyright - Finance Manager 2016</h5>
		</div>
	</div>
</div>